In [1]:
import numpy as np
import pandas as pd

In [3]:
lewy = pd.DataFrame({"klucz":["ab","ab"],"wart":[2,4]})
prawy = pd.DataFrame({"klucz":["ab","ab"],"wart":[12,41]})

In [4]:
lewy

,klucz,wart
0,ab,2
1,ab,4

In [5]:
prawy

,klucz,wart
0,ab,12
1,ab,41

In [6]:
rk = pd.merge(lewy,prawy,on="klucz")
rk

,klucz,wart_x,wart_y
0,ab,2,12
1,ab,2,41
2,ab,4,12
3,ab,4,41

In [9]:
df = pd.DataFrame(
    {
    "A":["ab","zz","ab","zz","ab","zz","ab","ab"],
    "B":["jeden","jeden","dwa","trzy","dwa","dwa","jeden","trzy"],
    "C":np.random.randn(8),
    "D":np.random.randn(8)
    }
)
df

,A,B,C,D
0,ab,jeden,0.124841,1.642756
1,zz,jeden,0.370106,-0.823855
2,ab,dwa,-0.316013,1.777693
3,zz,trzy,0.498216,0.930205
4,ab,dwa,0.723458,0.151654
5,zz,dwa,1.926231,-1.272364
6,ab,jeden,3.259435,-0.741469
7,ab,trzy,0.364893,1.157031

In [10]:
df.groupby("A").sum()

<ipython-input-10-c4c1e26c5f1f>:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df.groupby("A").sum()

,C,D
A,,
ab,4.156614,3.987665
zz,2.794554,-1.166014

In [11]:
df.groupby(["A","B"]).sum()

In [16]:
krotka = list(
    zip(
        *[
            ["ab","ab","zz","zz","ab","ab","xx","xx","zz"],
            ["czerwony","czarny","czerwony","czarny","czarny","czerwony","czarny","czarny"]
        ]
    )
)

krotka

[('ab', 'czerwony'),
 ('ab', 'czarny'),
 ('zz', 'czerwony'),
 ('zz', 'czarny'),
 ('ab', 'czarny'),
 ('ab', 'czerwony'),
 ('xx', 'czarny'),
 ('xx', 'czarny')]

In [17]:
index = pd.MultiIndex.from_tuples(krotka,name=["pierwszy","drugi"])
index

MultiIndex([('ab', 'czerwony'),
            ('ab',   'czarny'),
            ('zz', 'czerwony'),
            ('zz',   'czarny'),
            ('ab',   'czarny'),
            ('ab', 'czerwony'),
            ('xx',   'czarny'),
            ('xx',   'czarny')],
           names=['pierwszy', 'drugi'])

In [14]:
print(type(index))

<class 'pandas.core.indexes.multi.MultiIndex'>

In [18]:
df = pd.DataFrame(np.random.randn(8,2),index=index,columns=["A","B"])
df

In [19]:
df2 = df[:4]
df2

In [20]:
stosik = df2.stack()
print(stosik)

pierwszy  drugi
ab        czerwony  A   -0.973043
                    B    1.527513
          czarny    A   -0.652169
                    B    0.201154
zz        czerwony  A   -0.573792
                    B   -0.592378
          czarny    A    0.041532
                    B   -0.109113
dtype: float64