In [14]:
import pandas as pd
import numpy as np

In [2]:
obj = pd.Series([4,6,5,-6,34])
obj

In [3]:
obj.values

In [4]:
obj.index

RangeIndex(start=0, stop=5, step=1)

In [5]:
obj2 = pd.Series([6,3,2,-56],index=['a','b','h','p'])
obj2

In [6]:
obj2['p']

-56

In [7]:
obj2['h']=101
obj2

In [8]:
obj2[['h','b','a']]

In [10]:
obj2[obj2>5]

In [11]:
obj2*5

In [12]:
no = obj2.to_numpy()
no

In [13]:
print(type(no))

<class 'numpy.ndarray'>

In [15]:
tbnp = np.array([54,25,23,8,2,987,2,5,3])

In [16]:
tbpd = pd.Series(tbnp)
tbpd

In [17]:
sd = {'Warszawa':4352,'Kraków':5223,'Lublin':3532,'Gdańsk':3123}
sd

{'Warszawa': 4352, 'Kraków': 5223, 'Lublin': 3532, 'Gdańsk': 3123}

In [18]:
obj3 = pd.Series(sd)
obj3

In [19]:
miasta = ['Poznań','Kraków','Rzeszów','Lublin']
obj4 = pd.Series(sd,index=miasta)
obj4

In [20]:
data = {'miasto':['Warszawa','Katowice','Kielce','Toruń','Zamość','Opole'],
        'rok':[2020,2020,2021,2019,2020,2020],
        'wnioski':[1232,1211,980,765,650,324]}

frame = pd.DataFrame(data)

In [21]:
frame

,miasto,rok,wnioski
0,Warszawa,2020,1232
1,Katowice,2020,1211
2,Kielce,2021,980
3,Toruń,2019,765
4,Zamość,2020,650
5,Opole,2020,324

In [22]:
frame['projekty'] = 5.5
frame

,miasto,rok,wnioski,projekty
0,Warszawa,2020,1232,5.5
1,Katowice,2020,1211,5.5
2,Kielce,2021,980,5.5
3,Toruń,2019,765,5.5
4,Zamość,2020,650,5.5
5,Opole,2020,324,5.5

In [23]:
frame['projekty'] = np.array([12,8,9,11,21,13])
frame

,miasto,rok,wnioski,projekty
0,Warszawa,2020,1232,12
1,Katowice,2020,1211,8
2,Kielce,2021,980,9
3,Toruń,2019,765,11
4,Zamość,2020,650,21
5,Opole,2020,324,13