In [14]:
import pandas as pd
import numpy as np

In [2]:
obj = pd.Series([4,6,5,-6,34])
obj

In [3]:
obj.values

In [4]:
obj.index

RangeIndex(start=0, stop=5, step=1)

In [5]:
obj2 = pd.Series([6,3,2,-56],index=['a','b','h','p'])
obj2

In [6]:
obj2['p']

-56

In [7]:
obj2['h']=101
obj2

In [8]:
obj2[['h','b','a']]

In [10]:
obj2[obj2>5]

In [11]:
obj2*5

In [12]:
no = obj2.to_numpy()
no

In [13]:
print(type(no))

<class 'numpy.ndarray'>

In [15]:
tbnp = np.array([54,25,23,8,2,987,2,5,3])

In [16]:
tbpd = pd.Series(tbnp)
tbpd

In [17]:
sd = {'Warszawa':4352,'Kraków':5223,'Lublin':3532,'Gdańsk':3123}
sd

{'Warszawa': 4352, 'Kraków': 5223, 'Lublin': 3532, 'Gdańsk': 3123}

In [18]:
obj3 = pd.Series(sd)
obj3

In [19]:
miasta = ['Poznań','Kraków','Rzeszów','Lublin']
obj4 = pd.Series(sd,index=miasta)
obj4

In [20]:
data = {'miasto':['Warszawa','Katowice','Kielce','Toruń','Zamość','Opole'],
        'rok':[2020,2020,2021,2019,2020,2020],
        'wnioski':[1232,1211,980,765,650,324]}

frame = pd.DataFrame(data)

In [21]:
frame

,miasto,rok,wnioski
0,Warszawa,2020,1232
1,Katowice,2020,1211
2,Kielce,2021,980
3,Toruń,2019,765
4,Zamość,2020,650
5,Opole,2020,324

In [22]:
frame['projekty'] = 5.5
frame

,miasto,rok,wnioski,projekty
0,Warszawa,2020,1232,5.5
1,Katowice,2020,1211,5.5
2,Kielce,2021,980,5.5
3,Toruń,2019,765,5.5
4,Zamość,2020,650,5.5
5,Opole,2020,324,5.5

In [23]:
frame['projekty'] = np.array([12,8,9,11,21,13])
frame

,miasto,rok,wnioski,projekty
0,Warszawa,2020,1232,12
1,Katowice,2020,1211,8
2,Kielce,2021,980,9
3,Toruń,2019,765,11
4,Zamość,2020,650,21
5,Opole,2020,324,13

In [29]:
daty = pd.date_range("20240325",periods=6)
daty

DatetimeIndex(['2024-03-25', '2024-03-26', '2024-03-27', '2024-03-28',
               '2024-03-29', '2024-03-30'],
              dtype='datetime64[ns]', freq='D')

In [36]:
fr = pd.DataFrame(np.random.randn(6,4),index=daty,columns=list("ABCD"))
fr

,A,B,C,D
2024-03-25,1.447613,-0.793933,0.950471,-1.148268
2024-03-26,2.127667,-0.971023,-1.116340,1.068508
2024-03-27,0.898189,-0.821934,-0.964022,0.039132
2024-03-28,1.530807,1.145132,0.452160,-0.747402
2024-03-29,1.524482,-0.143560,-0.117478,0.109907
2024-03-30,0.460661,0.554144,1.293913,-0.858658

In [31]:
s = "lajkonik"
s

'lajkonik'

In [32]:
s[4]

'o'

In [33]:
s[2:5]

'jko'

In [34]:
s[::-1]

'kinokjal'

In [37]:
fr.describe()

,A,B,C,D
count,6.000000,6.000000,6.000000,6.000000
mean,1.331570,-0.171862,0.083118,-0.256130
std,0.578005,0.861462,0.992971,0.821721
min,0.460661,-0.971023,-1.116340,-1.148268
25%,1.035545,-0.814934,-0.752386,-0.830844
50%,1.486048,-0.468746,0.167341,-0.354135
75%,1.529226,0.379718,0.825894,0.092213
max,2.127667,1.145132,1.293913,1.068508

In [40]:
fr.sort_index(axis=1,ascending=False)

,D,C,B,A
2024-03-25,-1.148268,0.950471,-0.793933,1.447613
2024-03-26,1.068508,-1.116340,-0.971023,2.127667
2024-03-27,0.039132,-0.964022,-0.821934,0.898189
2024-03-28,-0.747402,0.452160,1.145132,1.530807
2024-03-29,0.109907,-0.117478,-0.143560,1.524482
2024-03-30,-0.858658,1.293913,0.554144,0.460661

In [43]:
fr.sort_values(by="B",ascending=True)

,A,B,C,D
2024-03-26,2.127667,-0.971023,-1.116340,1.068508
2024-03-27,0.898189,-0.821934,-0.964022,0.039132
2024-03-25,1.447613,-0.793933,0.950471,-1.148268
2024-03-29,1.524482,-0.143560,-0.117478,0.109907
2024-03-30,0.460661,0.554144,1.293913,-0.858658
2024-03-28,1.530807,1.145132,0.452160,-0.747402