In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
df = pd.DataFrame({
    'klucz1':['a','a','b','b','a'],
    'klucz2':['jeden','dwa','jeden','dwa','jeden'],
    'dane1':np.random.randn(5),
    'dane2':np.random.randn(5)
})

In [5]:
df

,klucz1,klucz2,dane1,dane2
0,a,jeden,0.631906,-0.848200
1,a,dwa,0.862868,-0.418853
2,b,jeden,-0.940146,0.201076
3,b,dwa,-0.675906,-0.244668
4,a,jeden,0.430602,-1.527150

In [6]:
grouped = df['dane1'].groupby(df['klucz1'])
grouped

In [7]:
grouped.mean()

In [8]:
grouped.sum()

In [9]:
grouped.std()

In [11]:
means = df['dane1'].groupby([df['klucz1'],df['klucz2']]).mean()
means

In [12]:
means.unstack()

klucz2,dwa,jeden
klucz1,,
a,0.862868,0.531254
b,-0.675906,-0.940146

In [13]:
woj = np.array(['mazowieckie','małopolskie','lubelskie','pomorskie','śląskie'])
lata = np.array([2018,2018,2020,2020,2020])
df['dane1'].groupby([woj,lata]).mean()