In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
df = pd.DataFrame({
    'klucz1':['a','a','b','b','a'],
    'klucz2':['jeden','dwa','jeden','dwa','jeden'],
    'dane1':np.random.randn(5),
    'dane2':np.random.randn(5)
})

In [5]:
df

,klucz1,klucz2,dane1,dane2
0,a,jeden,0.631906,-0.848200
1,a,dwa,0.862868,-0.418853
2,b,jeden,-0.940146,0.201076
3,b,dwa,-0.675906,-0.244668
4,a,jeden,0.430602,-1.527150

In [6]:
grouped = df['dane1'].groupby(df['klucz1'])
grouped

In [7]:
grouped.mean()

In [8]:
grouped.sum()

In [9]:
grouped.std()

In [11]:
means = df['dane1'].groupby([df['klucz1'],df['klucz2']]).mean()
means

In [12]:
means.unstack()

klucz2,dwa,jeden
klucz1,,
a,0.862868,0.531254
b,-0.675906,-0.940146

In [13]:
woj = np.array(['mazowieckie','małopolskie','lubelskie','pomorskie','śląskie'])
lata = np.array([2018,2018,2020,2020,2020])
df['dane1'].groupby([woj,lata]).mean()

In [14]:
df.groupby('klucz1').mean()

<ipython-input-14-1f540c8b2067>:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df.groupby('klucz1').mean()

,dane1,dane2
klucz1,,
a,0.641792,-0.931401
b,-0.808026,-0.021796

In [15]:
df.groupby(['klucz1','klucz2']).mean()

In [16]:
df.groupby(['klucz1','klucz2']).size()

In [17]:
people = pd.DataFrame(np.random.randn(5,5),
                      columns=['a','b','c','x','y'],
                      index=['Leon','Filip','Olga','Anna','Nadia'])

In [18]:
people

,a,b,c,x,y
Leon,0.388466,-0.556326,-1.062910,0.538537,0.291302
Filip,0.502116,-0.110407,-0.182167,0.606285,0.116267
Olga,0.956034,-1.559672,-0.517639,1.190252,-0.619416
Anna,1.512470,0.444164,-1.490088,0.819675,0.183837
Nadia,-1.721982,0.600335,0.464097,0.085990,0.351200

In [20]:
people.iloc[2:4,[1,2]] = np.nan
people

,a,b,c,x,y
Leon,0.388466,-0.556326,-1.062910,0.538537,0.291302
Filip,0.502116,-0.110407,-0.182167,0.606285,0.116267
Olga,0.956034,NaN,NaN,1.190252,-0.619416
Anna,1.512470,NaN,NaN,0.819675,0.183837
Nadia,-1.721982,0.600335,0.464097,0.085990,0.351200

In [21]:
mapping = {
    'a':'czerwony',
    'b':'czerwony',
    'c':'niebieski',
    'x':'niebieski',
    'y':'czerwony',
    'f':'pomarańczowy'

}

In [22]:
by_column = people.groupby(mapping,axis=1)
by_column.sum()

,czerwony,niebieski
Leon,0.123443,-0.524373
Filip,0.507976,0.424118
Olga,0.336617,1.190252
Anna,1.696307,0.819675
Nadia,-0.770447,0.550087

In [23]:
map_series = pd.Series(mapping)
map_series

In [24]:
people.groupby(map_series,axis=1).count()

,czerwony,niebieski
Leon,3,2
Filip,3,2
Olga,2,1
Anna,2,1
Nadia,3,2